@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
/*diferenca entre id e class?
id é unico, ja class pode repetir
e para selecionar uma class .nomeDaClasse ja o id é #ID*/
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html{
    background-color: black; /*muda a cor do fundo*/
    color: #ffff;
    
}

a, a:hover/*quando passa o mouse em cima*/, a:visited{
    color: unset;
    text-decoration: none;
}

.dsmeta-container{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;/*alinha ao centro, é um "macete" então pode ser que não funcine em tds casos*/
}

#sales{
  padding: 40px 10px;
}